.box{
    border: 2px solid #f1f1f1;
    text-align: center;
    box-shadow:10px 15px 15px cornsilk;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: 40%;
    margin-right: 30%;
    
    font-family: 'Times New Roman', Times, serif;
  
}
.anh
{
    width:150px;
    height:150px;
   
}
.a{
    margin-right: 95px;
    font-family: 'Times New Roman', Times, serif;

    
}
.b{
    margin-right: 95px;
    font-family: 'Times New Roman', Times, serif;
}
.c{
    margin-right: 95px;
    font-family: 'Times New Roman', Times, serif;
}
.td{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: aqua;
}